body{
    margin: 0;
    padding: 0;
    background-image: url("../images/pg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    
}

.formContainer{
    position: relative;
    padding: 20px;
    width: 500px;
    text-align: center;
   
    border-radius: 20px;
    background-color: #fff;
 
}

.formContainer::before,
.formContainer::after{
    content: '';
    position: absolute;
    background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ff0000);
    top:-2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-size: 400%;
    border-radius: 20px;
    z-index: -1;
    animation: animate 20s linear infinite;

}

.formContainer::after{
    filter: blur(8px);
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

#logo{
    width: 90%;
}

label{
    text-align: left;
    display: inline-block;
    width: 180px;
    margin: 10px;
}
.nameCon{
    width: 100%;
    
}

.nameCon > input{
    width: 44%;
}

form > input{
    width: 92%;
}
input{
    
    outline: none;
    margin: 10px;
    padding: 16px;
    border-radius: 10px;
    border:1px solid grey;
}

input[type="button"]{
    background-image: linear-gradient(to right,rgb(1, 155, 8),rgb(16, 212, 91));
    border: none;
}

input[type="button"]:hover{
    background-color: yellow;
}

a{
    text-decoration: none;
    color: grey;
}
#e1{
   
    display: none;
}